Django==2.2
django-filter==2.4.0
psycopg2-binary
gunicorn==20.0.4
django-extensions==3.0.9
django-rest-auth==0.9.5
django-rest-swagger==2.2.0
djangorestframework==3.12.0
flake8==3.8.4
joblib==0.17.0
scikit-learn==0.23.2
pandas==1.1.4
